<div class="dashboard">
  <h1>Welcome to your dashboard ! </h1>
<!--   <div class="head"> -->
  <div class="container" style="display: block;">
    <h2>My Bookings requests</h2>
    <% current_user.booking_requests.each do |request| %>
      <div class="card-product">
        <%= cl_image_tag request.product.photo %>
        <div class="card-product-infos">
          <h2><%= request.product.name %></h2>
          <p>Starts at <%= request.start_date.strftime('%e, %B, %Y') %></p>
          <p>Ends at <%= request.end_date.strftime('%e, %B, %Y') %></p>
        </div>
        <div class="status-buttons">
          <%= request.status %>
          <% if request.status == 'pending' %>
            <%= link_to 'accept', booking_accept_path(request) %>
            <%= link_to 'decline', booking_decline_path(request) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <!-- </div> -->
</div>

  <div class="container" style="display: block;">
    <h2>Your Caravans</h2>
      <% current_user.products.each do |product| %>
          <div class="card-product">
            <%= cl_image_tag product.photo %>
            <div class="card-product-infos">
              <%= link_to product_path(product) do %>
               <h2> <%= product.name %></h2>
              <p>  <%= product.description %> </p>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>



  <div class="container" style="display: block;">
    <h2>Your Bookings</h2>
      <% current_user.bookings.each do |booking| %>
      <div class="card-product">
            <%= cl_image_tag booking.product.photo%>
            <div class="card-product-infos">
             <p>  <%= booking.start_date %></p>
             <p>  <%= booking.end_date%></p>
             <p>  <%= booking.people %></p>
              <div class="status-buttons">
             <p>  <%= booking.status %></p>
              <p> <%= link_to "Edit", edit_booking_path(booking) %>
              </div>
            <%= link_to booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash"></i>
              <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>

