<div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)); background: url(<%= image_path '3.jpg', size: "500x600" %> )";>
  <div class="container">
    <div class="row justify-content-center">
      <h3> Change your offer </h3>
        <div class="col-md-8">
          <h4>
            <%= simple_form_for(@product) do |f| %>
              <div class="new-form-control">


                  <%= f.input :name, placeholder: 'Name' %>
                  <%= f.input :description, placeholder: 'Description' %>
                  <%= f.input :price, placeholder: 'Price' %>
                  <%= f.input :address, placeholder: 'Address' %>
                  <%= f.input :photo %>
                  <%= f.input :photo_cache, as: :hidden %>
                  <div class="col-md-8">
                  <%= f.button :submit, class: "btn btn-dark btn-lg" %>
                  </h4>
              </div>

            <% end %>

        </div>
    </div>

    <%= link_to "Back to all Caravan", root_path, class: "back-btn" %>
  </div>
</div>



