
<div class="container-title-show">
<h2> Nice choice !</h2>
</div>
<div class="container-show-global">


  <div class="container-product-show">
    <div class="image-product-show">
      <%= cl_image_tag @product.photo, height: 380, width: 380, crop: :fill %>
    </div>
    <div class="card-product-infos">
        <div class="card-product-name-price">
          <h2><%= @product.name %></h2>
          <h2><%=@product.price %> €</h2>
        </div>
      <div class="product-show-address-description">
        <p><%= @product.address %></p>
      </div>
      <p><%=@product.description%></p>
    </div>
<%= link_to product_path(@product), method: :delete, data: { confirm: "Are you sure?" }, class: 'delete-btn' do %>
  <i class="fas fa-trash"></i>
<% end %>
<% if current_user.id == @product.user_id %>
  <p class="edit-button-show"><%= link_to "EDIT", edit_product_path(@product) %></p>
  </div>


  <div class="container-calendar-show">
    <%= render 'pages/calendar' %>
  </div>


</div>
<% end %>



<!--   <div class="title-show">
    <h3><%= @product.name %></h3>
  </div>

    <div class="table table-bordered">
      <div class="d-flex justify-content-between">
        <div class="text-show">
          <h4> Description : <%=@product.description%></h4>
          <h4>Price <%=@product.price%></h4>
          <h4>Address <%=@product.address%></h4>
          <%= cl_image_tag @product.photo, height: 400, width: 500, crop: :fill, class: 'avatar-show' %>
        </div>
      </div>
    </div> -->

<!--       <div class="form-booking-product"> -->
<!--         <%= simple_form_for [@product, @booking] do |f| %> -->
<!--           <%= f.input :date %>
          <%= f.input :people %>
          <%= f.submit "Book now", class: "btn btn-primary" %>
        <% end %>
         <p><%= link_to "Back to all Caravan", root_path, class: "back-btn" %></p>
          <p><%= link_to "Book this Caravan", root_path, class: "back-btn" %></p>
      </div> -->

